@import 'colors';

// Media Queries
$device-xs-max: 575.98px;
$device-xs-min: 576px;
$device-sm-max: 767.98px;
$device-sm-min: 768px;
$device-md-max: 991.98px;
$device-md-min: 992px;
$device-lg-max: 1199.98px;
$device-lg-min: 1200px;

// Fonts
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Transition
$transition-primary: all 0.3s ease;
$transition-secondary: all 0.5s ease;
$transition-tertiary: all 0.3s ease;

// Colors
$color-primary: $white;
$color-secondary: $yellow-sea;
$color-tertiary: $cape-cod;

// Colors Text
$color-text-primary: $white;
$color-text-secondary: $yellow-sea;
$color-text-tertiary: $cape-cod;

// Colors Background
$color-background-primary: $white;
$color-background-secondary: $yellow-sea;
$color-background-tertiary: $cape-cod;

// Colors Border
$color-border-primary: $white;
$color-border-secondary: $yellow-sea;
$color-border-tertiary: $cape-cod;